@import url(bootstrap.min.css);
body{
	background: #DEDEE2
}
.container{
	background:#ffffff;
}
.row{
	min-height: 600px;
	width: 940px;
	margin:0px;
	padding-top: 20px;
}

/*login form*/
#loginarticle .form-horizontal{
	margin-top: 100px;
	margin-left:100px;
}

/*login footer*/
#loginfooter{
	clear:both;
	margin: 0px;
	padding-bottom: 0px;
}
#loginfooter .navbar{
	margin: 0px;
}

/*main view footer*/
footer{
	clear:both;
	padding-bottom: 0px;
}
footer .navbar{
	margin: 0px;
	clear: both;
}
